{% extends 'layout.html' %}


{% block content %}
{#    <meta http-equiv="refresh" content="15; URL=http://127.0.0.1:5000/kiosks">#}
    <meta http-equiv="refresh" content="15">
    <div class="container">

        <h4>Video Kiosks</h4>
        <hr>
        <br>

            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>Id</th>
                    <th>IP Address</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>

                {% for kiosk in kiosks %}
                    <tr>
                        <td>{{ kiosk.id }}</td>
                        <td>{{ kiosk.network_address }}</td>
                        <td>{{ kiosk.location }}</td>

                        {% if kiosk.status() %}
                            <td style="text-align: center; color: whitesmoke" bgcolor="green">OK</td>
                        {% else %}
                            <td style="text-align: center; color: whitesmoke" bgcolor="red">ERROR</td>
                        {% endif %}

                        <td>
                            <a href="{{ url_for('main.kiosk_detail', kiosk_id=kiosk.id)}}" class="btn btn-primary">
                                View
                            </a>

                            <a href="{{ url_for('main.edit_kiosk', kiosk_id=kiosk.id) }}" class="btn btn-group-sm btn-info">
                                Edit
                            </a>

                            <a href="{{ url_for('main.delete_kiosk', kiosk_id=kiosk.id) }}" class="btn btn-group-sm btn-danger">
                                Delete
                            </a>


                        </td>
                    </tr>

                {% endfor %}

            </table>

    </div>

{% endblock %}
