{% extends 'layout.html' %}
{% block content %}
    <meta http-equiv="refresh" content="5; URL=http://127.0.0.1:5000/kiosk/detail/{{ kiosk.id }}">

    <div class="container">

        <h4>Video Kiosk {{ kiosk.id }} @ {{ kiosk.network_address }}</h4>
        <hr>
        <br>

        {% if not status.Connection_Error %}
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <td>Network Address : </td>
                    <td>{{ kiosk.network_address }}</td>
                </tr>
                <tr>
                    <td>Location : </td>
                    <td>{{ kiosk.location }}</td>
                </tr>

                <tr>
                    <td>CPU Temp:</td>
                    <td>{{ status.cpu_temp }} C</td>
                </tr>
                <tr>
                    <td>CPU Utilization:</td>
                    <td>{{ status.cpu_utilization }}</td>
                </tr>
                <tr>
                    <td>Uptime : </td>
                    <td>{{ status.uptime.days }} Days, {{ status.uptime.hours }} Hours, {{ status.uptime.minutes }} min</td>
                </tr>
                <tr>
                    <td>Memory Total:</td>
                    <td>{{ status.memory_stats.memory_total }}</td>
                </tr>
                <tr>
                    <td>Memory Free:</td>
                    <td>{{ status.memory_stats.memory_available }}</td>
                </tr>
                <tr>
                    <td>Memory Utilization:</td>
                    <td>{{ status.memory_stats.memory_used_percent }}</td>
                </tr>
                <tr>
                    <td>Disk Total:</td>
                    <td>{{ status.disk_stats.disk_total }}</td>
                </tr>
                <tr>
                    <td>Disk Free</td>
                    <td>{{ status.disk_stats.disk_free }}</td>
                </tr>
                <tr>
                    <td>Disk Utilization:</td>
                    <td>{{ status.disk_stats.disk_used_percent }}</td>
                </tr>

                <tr>
                    <td>Videos on this Node:</td>
                    <td></td>
                </tr>

                {% if status.movie_data %}
                    {% for movie in status.movie_data %}
                        <tr>
                            <td></td>
                            <td>
                                {{ movie.name }}

                                <a href="{{ url_for('main.loop_video', kiosk_id=kiosk.id, movie_id=movie.id) }}">
                                    <button  class="btn btn-success"  label="Loop Video" name="Loop">Loop video</button>
                                </a>
                                <a href="{{ url_for('main.stop_loop_video', kiosk_id=kiosk.id) }}">
                                    <button  class="btn btn-danger"  label="Stop" name="Stop">Stop Loop</button>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td></td>
                        <td>No Videos Loaded</td>
                    </tr>
                {% endif %}

            </table>
            <a  href={{ url_for('main.kiosk_list') }}>
                <button  class="btn btn-danger"  label="Back" name="Back">Back</button>
            </a>

            <a class="btn btn-info" href="http://{{ kiosk.network_address }}:5100/movies"
               target="popup"
               onclick="window.open('http://{{ kiosk.network_address }}:5100/movies','popup','width=1200,height=600'); return false;">
                Edit Movies
            </a>


            <a href="#">
                <button class="btn btn-default pull-right"  label="Reboot" name="#">Reboot</button>
            </a>
            <a href="#">
                <button class="btn btn-default pull-right"  label="Shutdown" name="#">Shutdown</button>
            </a>
            <a href="#">
                <button class="btn btn-default pull-right"  label="System Update" name="#">System Update</button>
            </a>
        {% else %}
            <h4>Connection Error, No data retrieved</h4>
        {% endif %}

    </div>


{% endblock %}

<script language="javascript" type="text/javascript">

    function popitup(url) {
        newwindow=window.open(url,'name','height=200,width=150');
        if (window.focus) {newwindow.focus()}
        return false;
}

</script>


