{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">

{# head #}
    {% block head %}
        <head>
            <meta charset="UTF-8">
            <title>USS Iowa Video Control</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">



        </head>
    {% endblock %}

{# body #}
    {% block body %}
        <body>
            <div class="wrapper">
                {# navigation bar #}
                {% block navbar %}
                    <nav class="navbar navbar-inverse">
                        <div class="container">
                            <a class="navbar navbar-text" href="">
                                <h3 class="title">USS Iowa Video Master Controller</h3>
                            </a>
                            <ul class="nav navbar-nav pull-right">

                                    {% if current_user.is_authenticated %}
                                        <li><a href="{{ url_for('main.kiosk_list') }}"> Kiosks </a></li>
                                        <li><a href="{{ url_for('main.create_kiosk') }}">Create Kiosk</a></li>
                                        <li><a href="{{ url_for('main.scheduler_list') }}"> Schedulers </a></li>
                                        <li><a href="{{ url_for('main.create_scheduler') }}">Create Schedulers</a></li>

                                        <li><a href="{{ url_for('authentication.log_out_user') }}">Sign Out</a></li>
                                    {% else %}
                                        <li><a href="{{ url_for('authentication.register_user') }}"> Register </a></li>
                                        <li><a href="{{ url_for('authentication.do_the_login') }}"> SignIn </a></li>
                                    {% endif %}

                                <li>
                                    <a href="">
                                        {% if current_user.is_authenticated %}
                                            LoggedIn as <b style="color: cyan">{{ current_user.user_name.title() }}</b>
{#                                        {% else %}#}
{#                                            Not LoggedIn#}
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                {% endblock navbar %}

                {# flash messaging #}
                {% for message in get_flashed_messages() %}
                        <div class=" container alert alert-info">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            {{ message }}
                        </div>
                {% endfor %}

                {# empty block for custom content #}
                {% block content %} {% endblock content %}

                {# footer #}
                {% block footer %}
                    <footer>
                        <div class="container ftr">
                            <hr>
                            <p class="text-center small">The Battleship of The Pacific &copy;  |  2018</p>
                        </div>
                    </footer>
                {% endblock footer %}

            </div>
        </body>
    {% endblock body %}
</html>
{##}
{#<script type="text/javascript">#}
{#    var csrf_token = "{{ csrf_token() }}"#}
{#</script>#}

<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
